In [1]:
import pandas as pd        #importing numpy and pandas
import numpy as np

**For coding, I'll be using the same heuristic approach which is written step-by-step in the handwritten pdf.**

In [2]:
df=pd.read_csv("Berlin-tram-route - Sheet1.csv")     #read the csv file
df

,route,M1,M2,M4,M5,M6,M8,M10,12,M13,...,21,27,37,50,60,61,62,63,67,68
0,M1,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M4,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M5,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M6,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M8,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,M10,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,M13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,16,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,M17,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
11,18,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,21,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
13,27,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN
14,37,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
15,50,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0
17,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
18,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0
19,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0
20,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0
21,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN

In [3]:
df.keys()        #printing the routes names

Index(['route', 'M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16',
       'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67',
       '68'],
      dtype='object')

In [4]:
# define list of different colours 
colors=["red", "gold", "cyan", "blue", "magenta", "orange", "yellow", "green", "white", "brown", "violet", "sienna", "purple", "wheat1", "salmon", "pink", "darkorange", "silver", "coral", "maroon", "olive", "royalblue" ]
print(len(colors))

22

In [5]:
# define sequence in which you select route
routes = ['M1', 'M2', 'M4', 'M5', 'M6', 'M8', 'M10', '12', 'M13', '16', 'M17', '18', '21', '27', '37', '50', '60', '61', '62', '63', '67', '68']

In [6]:
# Empty dictionary to store route and its colour
assign_dict = {'M1': '', 'M2': '', 'M4': '', 'M5': '', 'M6': '', 'M8': '', 'M10': '', '12': '', 'M13': '', '16': '', 'M17': '', '18': '', '21': '', '27': '', '37': '', '50': '', '60': '', '61': '', '62': '', '63': '', '67': '', '68': ''}
print(assign_dict)

{'M1': '', 'M2': '', 'M4': '', 'M5': '', 'M6': '', 'M8': '', 'M10': '', '12': '', 'M13': '', '16': '', 'M17': '', '18': '', '21': '', '27': '', '37': '', '50': '', '60': '', '61': '', '62': '', '63': '', '67': '', '68': ''}

In [7]:
#code using the heuristic approach
N=len(df) 
length = len(routes)
print("Number of routes:", N)
l_color = 0
assign_dict['M1']=colors[l_color]
for i in range(length):
  # list of feasible routes
  feasible_colors = colors.copy()
  # write code here for checking for intersection
  for j in range(i):
    denote = 0
    if(df.iat[i,j+1]!=1):        #checking the intersection of i, j routes
      col = assign_dict[routes[j]]
      count=0
      for k in range(i):
        if col==assign_dict[routes[k]]:
          if df.iat[i,k+1]==1:  #if intersection, assign different color
            count+=1
      if count==0:
        denote = 1
        assign_dict[routes[i]] = col
        break
    if denote == 0 and j==i-1:
      l_color+=1
      assign_dict[routes[i]]=colors[l_color]

  # write code here for deleting some colours from feasible_colours
feasible_colors=feasible_colors[0:l_color+1]  

  # write code here for storing route and its colour in Assignment dictionary
print("List of colors assigned to routes:", assign_dict)  
print("Remaining colours:", feasible_colors)
print("Number of colours needed are:", len(feasible_colors))

Number of routes: 22
List of colors assigned to routes: {'M1': 'red', 'M2': 'red', 'M4': 'gold', 'M5': 'cyan', 'M6': 'blue', 'M8': 'magenta', 'M10': 'orange', '12': 'cyan', 'M13': 'yellow', '16': 'red', 'M17': 'gold', '18': 'red', '21': 'cyan', '27': 'orange', '37': 'red', '50': 'gold', '60': 'blue', '61': 'red', '62': 'gold', '63': 'cyan', '67': 'magenta', '68': 'orange'}
Remaining colours: ['red', 'gold', 'cyan', 'blue', 'magenta', 'orange', 'yellow']
Number of colours needed are: 7